body {
  font-family: Roboto, sans-serif;
  background-color: rgb(37, 37, 37);
  color: white;
  min-height: 100vh;
}

.container {
  width: 100%;
}

.info {
  padding: 30px;
}

.info header {
  font-size: 20px;
  padding-bottom: 1rem;
}

.info p {
  line-height: 1.7;
}

.pic {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  width: 75%;
  padding-bottom: 1rem;
}

footer {
  border-top: 1px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 1rem;
}

.button {
  padding: 0.5rem;
  color: inherit;
  border-radius: 10px;
  filter: invert(1);
}

.icon {
  width: 30px;
}

.button:hover {
  background-color: rgb(209, 209, 209);
}

@media only screen and (min-width: 750px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .info {
    padding: 20px;
  }

  .pic {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (min-width: 1100px) {
  .container {
    padding-top: 3rem;
    padding-bottom: 10rem;
    display: flex;
    width: 1000px;
    gap: 2rem;
  }

  .info {
    padding-left: 1rem;
    width: 700px;
  }

  .pic {
    width: 300px;
  }

  .button {
    font-size: xx-large;
  }
}

/* 404 page */

.error {
  margin-top: 5rem;
  text-align: center;
}

.error h1 {
  font-size: 60px;
}

.error a {
  color: rgb(98, 128, 73);
  text-decoration: none;
}

.error a:hover {
  color: rgb(126, 125, 125);
}
