body {
  font-family: Roboto, sans-serif;
  background-color: rgb(27, 27, 27);
  color: white;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.main {
  margin-bottom: 3rem;
}

.info {
  padding: 1rem;
}

.info p {
  line-height: 1.8;
}

.pic {
  display: block;
  margin: 0 auto;
  border-radius: 0.5rem;
  width: 300px;
}

.footer {
  border-top: 1.5px solid;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

.link {
  padding: 1rem;
  color: inherit;
  filter: invert(1);
}

.icon {
  border-radius: 0.5rem;
  padding: 1rem;
  width: 2rem;
}

.icon:hover {
  background-color: rgb(209, 209, 209);
}

@media only screen and (min-width: 992px) {
  .container {
    width: 900px;
  }

  .main {
    margin: 7rem 0 10rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1150px;
  }
  .main {
    font-size: large;
    gap: 3rem;
  }
}

/* 404 page */

.error {
  margin-top: 5rem;
  text-align: center;
}

.error h1 {
  font-size: 60px;
}

.error a {
  color: rgb(98, 128, 73);
  text-decoration: none;
}

.error a:hover {
  color: rgb(126, 125, 125);
}
